@use 'helpers' as *;

.content__img {
<<<<<<< HEAD
<<<<<<< HEAD
  border-radius: rem(50);
}
=======
    border-radius: rem(50);
  }
>>>>>>> d3a24cd2dc0180d4baf89e25ede94c95b7d23644
=======
  border-radius: rem(50);
}
>>>>>>> dd143dbb9a2e859c10f824d9ce29867bfe0a85f3
